<div class="menu-header text-center">
  <h3 *ngIf="merchant | async as merchantDetail" class="header-title">
    Chào mừng bạn đến với quán <br> {{ merchantDetail.name }}
  </h3>
</div>
<!--<a routerLink="/">Back</a>-->
<div class="main-content">
  <aside class="aside">
    <div class="aside-box sticky-top">
      <div class="aside-box-title">
        <h4 class="aside-box-text">Phân loại</h4>
      </div>
      <div class="aside-box-item" *ngFor="let item of data">
        <a href="/items/{{merchantId}}#{{ item.dish_type_name }}">{{ item.dish_type_name }}</a>
      </div>
    </div>
  </aside>
  <div class="content">
    <div class="form-group sticky-top">
      <select (change)="scrollToEl($event)" class="form-control" name="" id="">
        <option *ngFor="let item of data" [ngValue]="item.dish_type_name">{{ item.dish_type_name }}</option>
      </select>
    </div>
    <dl *ngIf="!submitted">
      <ng-container *ngFor="let item of data">
        <dt id="{{ item.dish_type_name }}">{{ item.dish_type_name }}</dt>
        <dd>
          <div class="list-group">
            <div *ngFor="let dish of item.dishes" class="list-group-item list-group-item-action">
              <div class="media">
                <div class="d-flex mr-2">
                  <img [src]="dish.photos[0].value" alt="" class="item-img">
                </div>
                <div class="media-body">
                  <h5>{{ dish.name }}</h5>
                  {{ dish.description }}
                </div>
                <div class="media-right">
                  <div class="text-right">
                    <strong class="d-block">{{ dish.discount_price.text }}</strong>
                    <del class="small">{{ dish.price.text }}</del>
                  </div>
                  <div style="width: 100px;" class="text-center">
                    <p-inputNumber
                      buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                      decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                      incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                      (ngModelChange)="onChangeNumber($event, dish)" class="d-block mt-3" [(ngModel)]="dish.quantity"
                      [min]="0"
                      [max]="100" [showButtons]="true">
                    </p-inputNumber>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dd>
      </ng-container>
    </dl>
  </div>
  <div class="aside-order">
    <div class="sticky-top">
      <h4>Order</h4>
      <table class="table">
        <thead>
        <tr>
          <th>SL</th>
          <th>Tên món</th>
          <th class="text-right">Giá</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of orderDetails">
          <tr *ngIf="item.quantity > 0">
            <td scope="row">{{ item.quantity }}</td>
            <td>{{ item.name }}</td>
            <td class="text-right">{{ item.price * item.quantity | currency: 'VND' }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="2">Tổng cộng</td>
          <td class="text-right">{{ totalPrice | currency: 'VND' }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="auth.currentUser | async as user;else templateNoLogin">
        <p>Đơn hàng tạo bởi <span>{{ user.displayName }}</span></p>
        <button [disabled]="submitted" (click)="onSubmit(user)"
                class="btn btn-success btn-block" type="button">Đặt ngay
        </button>
      </div>
      <ng-template #templateNoLogin>
        <button (click)="onFacebookLogin()" class="btn btn-primary btn-block" type="button">
          Login with Facebook
        </button>
      </ng-template>

    </div>
  </div>
  <!-- <div *ngFor="let item of menuItems" class="disabled menu-body" aria-disabled="true">
     <div class="row mb-4 mt-4" *ngIf="!submitted">
       <div class="col-md-9 col-sm-12">
         <div class="media">
           <img src="..." class="align-self-center mr-3" alt="...">
           <div class="media-body">
             <h5 class="mt-0">{{ item.name }}</h5>
             <span>{{item.price | currency: 'VND'}}</span>
           </div>
         </div>
       </div>
       <div class="col-md-3 col-sm-12">
         <p-inputNumber
           buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
           decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
           incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
           (ngModelChange)="onChangeNumber($event)" class="d-block" [(ngModel)]="item.quantity" [min]="0"
           [max]="100" [showButtons]="true">
         </p-inputNumber>
       </div>
     </div>
   </div>-->
</div>

<p-dialog header="Order" [(visible)]="display" styleClass="mydialog">
  <table class="table">
    <thead>
    <tr>
      <th>SL</th>
      <th>Tên món</th>
      <th class="text-right">Giá</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of orderDetails">
      <tr *ngIf="item.quantity > 0">
        <td scope="row">{{ item.quantity }}</td>
        <td>{{ item.name }}</td>
        <td class="text-right">{{ item.price * item.quantity | currency: 'VND' }}</td>
      </tr>
    </ng-container>
    <tr>
      <td colspan="2">Tổng cộng</td>
      <td class="text-right">{{ totalPrice | currency: 'VND' }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="auth.currentUser | async as user;else templateNoLogin">
    <p>Đơn hàng tạo bởi <span>{{ user.displayName }}</span></p>
    <button [disabled]="submitted" (click)="onSubmit(user)"
            class="btn btn-success btn-block" type="button">Đặt ngay
    </button>
  </div>
  <ng-template #templateNoLogin>
    <button (click)="onFacebookLogin()" class="btn btn-primary btn-block" type="button">
      Login with Facebook
    </button>
  </ng-template>
</p-dialog>
<button type="button" (click)="showDialog()" label="Show" class="order-btn pi pi-shopping-cart rounded-circle"></button>
<div *ngIf="submitted" class="jumbotron jumbotron-custom">
  <h1 class="display-3">Thành công</h1>
  <p class="lead">Cảm ơn bạn đã gửi đơn</p>
  <hr class="my-2">
  <p class="bill">Tổng sản phẩm: {{ totalQuantity }}</p>
  <p class="bill">Tổng tiền: {{ totalPrice | currency: 'VND' }}</p>
</div>

