@import "../../../../../scss/core";

.jumbotron-custom {
  margin-top: 20px;

  .bill {
    font-size: 16px;
    font-weight: bold;
  }
}

.menu-header {
  margin: 20px 0 30px 0;
  font-weight: bold;
  color: #000000;

  .header-title {
    font-weight: bold;
  }
}

.media {
  .media-body {
    font-weight: bold;
    color: #000000;
  }

  .media-bottom {
    @include flexbox();
    @include align-items(flex-end);

    .item-price {
      width: 130px;

    }
  }

}

.menu-body {
  p-inputNumber {
    padding: 10px;
  }
}

dt {
  padding: 15px 10px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.main-content {
  @include flexbox();
  @include justify-content(flex-start);

  .aside {
    width: 250px;

    .aside-box-text {
      color: #000000;
      font-size: 16px;
      font-weight: bold;
    }

    .aside-box-item {
      margin-bottom: 5px;
    }
  }

  .aside-order {
    width: 250px;
  }

  .content {
    @include flex(1);
    margin: 0 15px;
  }
}
.item-img {
    height: 85px;
}
.aside{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.aside-order{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.order-btn{
  @include media-breakpoint-up(lg){
    display: none;
  }
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  background-color: #1dc9b7;
  color: #ffffff;
}
