<div class="confirm-header text-center">
  <h3 class="header-title">
    Hoá đơn đặt hàng<br>
    {{this.date}}
  </h3>
</div>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Món</th>
    <th scope="col" class="text-center">Số lượng</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of detailConfirm">
    <td>{{ item[0] }}</td>
    <td class="text-center">{{ item[1] }}</td>
  </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Người đặt</th>
    <th scope="col">Chi Tiết</th>
    <th scope="col"  class="text-center">Tổng tiền</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let customer of customers | async">
    <tr *ngIf="customer.quantity > 0">
      <td>
        <img width="32" class="rounded-circle" [src]="customer.user.photoURL" alt=""> {{ customer.user.displayName }}
      </td>
      <td>
        <ul class="list-unstyled m-0">
          <ng-container *ngFor="let item of customer.details">
            <li *ngIf="item.quantity > 0">
              {{ item.quantity }} x {{ item.name }}
            </li>
          </ng-container>
        </ul>
      </td>
      <td  class="text-center">{{ customer.totalPrice | currency: 'VND' }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>


